{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
   <div class="card-header" style="background-color:#303030;color:white;text-align:center;">
<h1>
    <div class="row">
    <div class="col-6">
     Profil
    </div>

    <div class="col" style="border-left:2px solid white; height:100%;">

            {% if player.team and  'ROLE_CAPTAIN' in player.roles %}
                <a href="{{ path('team_show', {'id': player.team.id}) }}" class="btn btn-danger">Voir équipe</a>
                <a href="{{ path('team_edit', {'id': player.team.id}) }}" class="btn btn-danger">Modifier équipe</a>
                {% endif %}
            {% if not player.team and 'ROLE_CAPTAIN' in player.roles %}
                <a href="{{ path('team_new') }}" class="btn btn-primary">Nouvelle équipe</a>
            {% endif %}

            <a href="{{ path('player_edit', {'id': player.id}) }}" class="btn btn-danger" >Modifier profil</a>
    </div>
    </h1>
</div>

    <ul class="list-group"> 
        <li class="list-group-item"> <strong>Prénom</strong>   {{ player.firstname }}</li>
        <li class="list-group-item"> <strong>Nom</strong>   {{ player.surname }}</li>
        <li class="list-group-item"> <strong> Email</strong>   {{ player.email }}</li>

        <li class="list-group-item"> <strong>Équipe</strong>   {{ player.team|default('Sans équipe') }}</li>
        {% if 'ROLE_CAPTAIN' in player.roles %}

        <li class="list-group-item"> <strong>Role</strong>   Capitaine</li>
        {% else %}
             <li class="list-group-item"> <strong>Role</strong>   Joueur</li>
        {% endif %}
        <li class="list-group-item"> <strong>Niveau</strong>   {{ player.level }}</li>
</ul>



{% endblock %}
