{% extends 'base.html.twig' %}

{% block title %}Index Équipe{% endblock %}

{% block body %}
    <h1>Index Équipe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.level }}</td>
                <td>
                    <a href="{{ path('team_show', {'id': team.id}) }}">Détails</a>
                    <a href="{{ path('team_edit', {'id': team.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_new') }}">Nouveau</a>
{% endblock %}
