{{ form_start(form) }}
    <div class = "form-group">
    	<label for = "">Nom de l'événement :</label>
    	{{form_widget(form.name)}}
    </div>
    <div class = "form-group">
    	<label for = "">Date de l'événement :</label>
    	{{form_widget(form.date)}}
    </div>
    <div class = "form-group">
    	<label for = "">Lieu de l'événement :</label>
    	{{form_widget(form.location)}}
    </div>
    <div class = "form-group">
    	<label for = "">Type :</label>
    	{{form_widget(form.playerPerTeam)}}
    </div>
  
     
{{ form_end(form) }}

