{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block body %}

        <div class="card-header" style="background-color:#303030;color:white;text-align:center;">
              <h1>
              <div class="row">
    <div class="col-10">
     Liste des évènements
    </div>
   {% if app.user  %}
     {% if 'ROLE_ORGANIZER' in app.user.roles  %}
    <div class="col" style="border-left:2px solid white; height:100%;">

      <a href="{{ path('event_new') }}" class="btn btn-primary">Nouveau</a>
      <a href="{{ path('event_new_binary') }}" class="btn btn-primary">Nouveau binaire</a>
    </div>
    {% endif %}
  {% endif %}
    </h1>

    </div>
</div>

{% for event in events %}
{% if loop.index0 is divisible by(3) %}
 <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-5">
 {% endif %}
 
    <div class="col ">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
             <div class="card-header" style="background-color:#303030;color:white;text-align:center;">
                <h2>{{ event.name }}</h2>
              </div>
             <p class="card-text">
                <ul class="list-group">

                    <li class="list-group-item"> <span class="material-icons">calendar_today</span>  {{ event.date ? event.date|date('d-m-Y H:i') : '' }} </li>
                    <li class="list-group-item"> <span class="material-icons">location_on</span>  {{ event.location }} </li>
                     <li class="list-group-item"> Tournoi(s) :   {{ event.turnaments|length }}</li> 
                    <li class="list-group-item"> <i class="material-icons">person</i>{{ event.playerPerTeam}} joueurs</li>
                    {% if event.sport == "sports_petanque" %}
                       <li class="list-group-item"> Sport :   <span class="material-icons">sports_baseball</span> </li> 
                   {% else %}
                    <li class="list-group-item"> Sport :   <span class="material-icons">{{ event.sport }}</span> </li> 
                     {% endif %} 
                    

     
                              
                 </ul>
             </p>
            
                {% if app.user  %}
                   {% if 'ROLE_ORGANIZER' in app.user.roles  %}
                      <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-warning" >Modifier</a>
                       <a href="{{ path('turnament_index', {'idEvent': event.id}) }}" class="btn btn-primary" >Voir</a>

                     {% else %}
                      <a href="{{ path('turnament_index', {'idEvent': event.id}) }}" class="btn btn-primary" >Voir</a>
                {% endif %}
                {% endif %}
        </div>
        </div>
    </div>

{% if (loop.index0+1) is divisible by(3) %}
    </div>
    {% endif %}
    {% else %}    
        <br>
        <br>
        <br>
        <h1 style="text-align:center;"><strong>Oh non il n'y a pas d'évènements encore ! "</strong></h1>
{% endfor %}
</div>
{% endblock %}
