{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <h1>Créer un nouvel événement </h1>


    {{ form_start(form) }}
    <div class = "form-group">
    	<label for = "">Nom de l'événement :</label>
    	{{form_widget(form.name)}}
    </div>
    <div class = "form-group">
    	<label for = "">Date de l'événement :</label>
    	{{form_widget(form.date)}}
    </div>
    <div class = "form-group">
    	<label for = "">Lieu de l'événement :</label>
    	{{form_widget(form.location)}}
    </div>
     <div class = "form-group">
        <label for = "">Sport de l'événement :</label>
        {{form_widget(form.sport)}}
    </div>
    <div class = "form-group">
    	<label for = "">Nombre de joueur par équipe (1 à 11) :</label>
    	{{form_widget(form.playerPerTeam)}}
    </div>

      <ul class="turnaments list-group" data-prototype="{{ form_widget(form.turnaments.vars.prototype)|e('html_attr') }}">
        {% for turnament in form.turnaments %}
            <li class ="list-group-item">Tournoi {{loop.index}}</li>
            <li class ="list-group-item">{{ form_widget(turnament) }}</li>
        {% endfor %}
       
    </ul>
     

    
     
    <button type="button" class="add_item_link btn btn-primary" data-collection-holder-class="turnaments">Nouveau tournoi</button>
    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
     {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
     
    <a href="{{ path('event_index') }}">Retour à la liste des événements</a>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
 jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags

    var $tagsCollectionHolder = $('ul.turnaments');
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $tagsCollectionHolder.data('index', $tagsCollectionHolder.find('input').length);
    
      $(".add_item_link" ).on( "click", function(e) {
        var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
        // add a new tag form (see next code block)
        addFormToCollection($collectionHolderClass);
    });

});

  

 function addFormToCollection($collectionHolderClass) {
    // Get the ul that holds the collection of tags
    var $collectionHolder = $('.' + $collectionHolderClass);

    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    var $title = $('<br><li class ="list-group-item">Nouveau tournoi : </li>');
    var newForm = newForm.replace('Tours :','');
    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li class ="list-group-item"></li>').append(newForm);
    // Add the new form at the end of the list
    //console.log($collectionHolder);
    $collectionHolder.append($title);
    $collectionHolder.append($newFormLi)
}
        
    </script>
 {% endblock %}